*{margin:0px;padding:0px;font-family:'Microsoft yahei';}
body{margin-top:1px;}
a{text-decoration:none;}
li{list-style-type:none;}
img{border:none;}
/*头部 开始*/
	#header{width:100%;height:760px;min-width:1080px;position:relative;}
	/*顶部导航区 开始*/
	#top{width:100%;height:80px;position:relative;z-index:1;color:#fff;transition:background .5s;}
	#top .nav{width:1080px;height:80px;margin:0 auto;}
	#top .t-logo{width:112px;height:20px;float:left;margin:29px 350px 0 21px;background:url(../img/logo.png);}
	#top .t-nav{width:490px;height:80px;float:left;}
	#top .t-nav ul li{list-style-type:none;float:left;}
	#top .t-nav a{padding:30px 22px;display:block;font-size:14px;color:#fff;text-decoration:none;}
	#top .t-login{width:59px;height:17px;float:right;font-size:12px;margin:30px 20px 0 0;}
	#top .t-login a{font-size:12px;color:#fff;}
	#top a:hover{color:#2BEDB8;}
	/*顶部导航区 结束*/
	/*隐藏区 开始*/
	#hid{width:100%;height:0px;transition:background .5s;position:absolute;z-index:2;left:0;overflow:hidden;}
	#hid .pro{width:1080px;height:150px;margin:0 auto;}
	#hid .pro ul{margin-left:500px;}
	#hid .pro ul li{float:left;margin-right:70px;}
	#hid .pro a{margin:0;padding:0;width:112px;height:130px;display:block;color:#000;font-size:14px;opacity:.5;filter:alpha(opacity=50);}
	#hid .pro a:hover{opacity:1;filter:alpha(opacity=100);}
	#hid .pro div{width:112px;height:102px;}
	#hid .pro .mx4{background:url(../img/mx4.png) center no-repeat;}
	#hid .pro .mx3{background:url(../img/mx3.png) center no-repeat;}
	#hid .pro .mx2{background:url(../img/mx2.png) center no-repeat;}
	#hid .pro p{text-align:center;margin-top:10px;}
	/*隐藏区 结束*/
	/*背景一 开始*/
	#bg1,#bg2{width:100%;height:760px;min-width:1080px;position:absolute;top:0;left:0;display:none;}
	#bg1{background:url('../img/bg1.jpg') center;}
	#bg1 .info{width:350px;height:53px;margin:303px auto 0;}
	#bg1 .info a{text-indent:50px;border-radius:40px;border:1px solid #fff;font-weight:100;width:160px;height:53px;display:block;line-height:53px;color:#fff;font-size:20px;}
	#bg1 .info .a1{background:url('../img/icon1.png') no-repeat 18px 13px;float:left;}
	#bg1 .info .a2{background:url('../img/icon2.png') no-repeat 18px 13px;float:right;}
	/*背景一 结束*/
	/*背景二 开始*/
	#bg2{background:url('../img/bg2.jpg') center;}
	#bg2 .bg2-info{width:1080px;height:57px;margin:480px auto 0;}
	#bg2 .info{width:410px;height:57px;margin-left:640px;text-align:center;line-height:57px;font-size:24px;}
	#bg2 .info a{display:block;width:190px;height:57px;color:#fff;}
	#bg2 .info .a1{float:left;background:#FFB401;}
	#bg2 .info .a1:hover{background:#F0A901;}
	#bg2 .info .a2{float:right;border:1px solid #fff;}
	/*背景二 结束*/
	/*按钮 开始*/
	#but{width:60px;height:18px;margin:640px auto 0;position:relative;z-index:3;}
	#but ul li{width:16px;height:16px;border:1px solid #fff;border-radius:9px;list-style:none;cursor:pointer;}
	#but .b-left{float:left;}
	#but .b-right{float:right;}
	#but .b-cli{background:#fff;}
	/*按钮 结束*/
/*顶部 结束*/
	/*mid s*/
		#mid{width:1080px;height:210px;margin:20px auto 0;}
		#mid a{float:left;}
		#mid .a1{margin-left:20px;}
	/*mid e*/

	/*info s*/
		#main{width:100%;border-top:1px solid #F1F1F1;border-bottom:1px solid #F1F1F1;}
		#info{width:1025px;height:130px;margin:0 auto;padding:70px 20px;color:#515151;}
		/*左边信息区 s*/
		#info .left{width:210px;height:130px;float:left;}
		#info .left .l-tit{font-size:14px;font-weight:bold;margin-bottom:10px;}
		#info .left .l1{margin-top:5px;}
		#info .left a{color:#515151;font-size:12px;}
		#info .left a:hover{color:#31A5E7;}
		#info .left .weixin{position:relative;}
		#info .left .weixin:hover div{display:block;}
		#info .left .weixin div{width:295px;height:306px;position:absolute;top:-195px;left:30px;background:url(../img/weixin.png);z-index:1;display:none;}
		/*左边信息区 e*/
		/*右边区 s*/
		#info .right{width:185px;height:130px;float:right;}
		#info .right h3{font-size:14px;margin-bottom:10px;}
		#info .right > p{font-size:16px;display:inline;}
		#info .right .consult{font-size:12px;color:#fff;padding:1px 7px;background:#3DB1FA;margin-left:10px;}
		#info .right .consult:hover{background:#38A2E4;}
		#info .right .cho{width:90px;height:37px;border-top:1px solid #B7B7B7;border-bottom:1px solid #B7B7B7;display:block;position:relative;font-size:12px;line-height:37px;text-align:center;margin-top:7px;background:url('../img/icon.jpg') no-repeat 98% 90%;}
			/*语言选择 s*/
		#info .right .cho ul{width:136px;height:186px;border:1px solid #B7B7B7;position:absolute;bottom:-1px;left:90px;background:#fff;display:none;}
		#info .right .cho ul p{font-size:14px;color:#000;font-weight:bold;border-bottom:1px solid #B7B7B7;}
		#info .right .cho ul li{width:136px;height:37px;cursor:pointer;}
		#info .right .cho ul li:hover{background:#00A7EA;}
		#info .right .cho i{width:22px;height:21px;display:inline-block;background-image:url(../img/lang.png);float:left;margin:7px 22px 0 20px;}
		#info .right .cho span{float:left;}
		#info .r-l1 i{background-position:0 0;}
		#info .r-l2 i{background-position:-22px 0;}
		#info .r-l3 i{background-position:-45px 0;}
		#info .r-l4 i{background-position:45px 0;}
		#info .right .cho:hover ul{display:block;}
			/*语言选择 e*/
		/*右边区 e*/
	/*info e*/

	/*bot s*/
		#bot{width:100%;min-width:1080px;height:80px;}
		#bot-logo{width:81px;height:14px;margin:33px 0 0 20px;float:left;}
		#footer{width:880px;height:80px;float:right;font-size:12px;color:#999;line-height:80px;margin-right:20px;}
	/*bot e*/